@model AboutViewModel

@{
    ViewData["Title"] = "AboutUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fullName = Model.UpdatedUser.FirstName.ToUpper() + " " + Model.UpdatedUser.LastName.ToUpper();
}


<section class="content">

    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h2 class="box-title">Hakkımızda</h2>
                    <div class=" float-right">
                        <p>Son Güncelleyen :@fullName</p>
                        <p>Son Güncelleme :@Model.AboutDTO.UpdateDate.Date.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
                <div class="box-body">
                    <form asp-action="AboutUpdate" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <input asp-for="AboutDTO.Id" type="hidden"/>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="AboutDTO.ContentTitle"></label>
                                        <input type="text" class="form-control" placeholder="Product Name" asp-for="AboutDTO.ContentTitle">
                                        <span asp-validation-for="AboutDTO.ContentTitle"></span>
                                    </div>
                                </div>

                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="AboutDTO.Content"></label>
                                        <textarea class="form-control p-20" rows="7" asp-for="AboutDTO.Content"></textarea>
                                        <span asp-validation-for="AboutDTO.Content"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="AboutDTO.Content2Title"></label>
                                        <input type="text" class="form-control" asp-for="AboutDTO.Content2Title">
                                        <span asp-validation-for="AboutDTO.Content2Title"></span>
                                    </div>
                                </div>

                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="AboutDTO.Content2"></label>
                                        <textarea class="form-control p-20" rows="7" asp-for="AboutDTO.Content2"></textarea>
                                        <span asp-validation-for="AboutDTO.Content2"></span>
                                    </div>
                                </div>
                            </div>
                            <!--/row-->

                            <input asp-for="AboutDTO.image" type="hidden" />

                            <div class="row">
                                <!--/span-->
                                <div class="col-md-3">
                                    <h4 class="box-title mt-20">Resim Yükle</h4>
                                    <div class="product-img text-left">
                                        <img src="~/images/MyImg/@Model.AboutDTO.image" alt="">
                                        <div class="btn btn-lg btn-info mb-20">
                                            <span>Upload Anonther Image</span>
                                            <input type="file" asp-for="File" class="upload">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions mt-10">
                            <button type="submit" class="btn btn-lg btn-primary"> <i class="fa fa-check"></i> Update</button>
                            <button type="button" class="btn btn-lg btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>