<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="uyanış akademi admin page" content="">
<meta name="nihat birbudak" content="">
<meta http-equiv="refresh" content="600">
<link rel="icon" href="~/images/favicon.ico">

<title>@ViewData["Title"]</title>

<!-- Bootstrap 4.0-->
<link rel="stylesheet" href="~/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Bootstrap extend-->
<link rel="stylesheet" href="~/css/bootstrap-extend.css">

<!-- Theme style -->
<link rel="stylesheet" href="~/css/master_style.css">

<!-- UltimatePro Admin skins -->
<link rel="stylesheet" href="~/css/skins/_all-skins.css">



