
<section class="sidebar">

    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">

        <li class="header nav-small-cap">PERSONAL NAME</li>
        <!-- Sayfa İşlemleri -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>Sayfa İşlemleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="AboutList"><i class="ti-more"></i>Hakkımızda</a></li>
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Hakkımızda Ekle</a></li>
                <li><a href="#"><i class="ti-more"></i>Etkinlik Takvimi</a></li>
                <li><a href="#"><i class="ti-more"></i>İletişim</a></li>
            </ul>
        </li>
        <!-- Eğitim İşlemleri -->
        <li class="treeview">
            <a href="#">
                <i class="ti-files"></i>
                <span>Eğitim İşlmeleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="ti-more"></i>Eğitimler</a></li>
                <li><a href="#"><i class="ti-more"></i>Eğtim Ekle</a></li>
                <li><a href="#"><i class="ti-more"></i>Eğitimleri Düzenle</a></li>
            </ul>
        </li>
        <!-- Ürün İşlemleri -->
        <li class="treeview">
            <a href="#">
                <i class="ti-direction-alt"></i>
                <span>Ürün İşlemleri </span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="ti-more"></i>Ürün Listesi </a></li>
                <li><a href="#"><i class="ti-more"></i>Ürün Düzenle</a></li>
                <li><a href="#"><i class="ti-more"></i>Ürün Ekle </a></li>
                <li><a href="#"><i class="ti-more"></i></a></li>
            </ul>
        </li>

        <!-- Bölme Başlık İşlemleri-->
        <li class="header nav-small-cap">Admin İşlemleri</li>
        <!-- Muhasebe İşlemleri-->
        <li class="treeview">
            <a href="#">
                <i class="ti-email"></i> <span>Muhasebe İşlemleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="ti-more"></i>Inbox</a></li>
                <li><a href="#"><i class="ti-more"></i>Compose</a></li>
                <li><a href="#"><i class="ti-more"></i>Read</a></li>
            </ul>
        </li>
        <!-- Yetki İşlemleri-->
        <li class="treeview">
            <a href="#">
                <i class="ti-user"></i>
                <span>Yetki İşlemleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="ti-more"></i>Chat app</a></li>
                <li><a href="#"><i class="ti-more"></i>Contact / Employee</a></li>
                <li><a href="#"><i class="ti-more"></i>Userlist Grid</a></li>
                <li><a href="#"><i class="ti-more"></i>Userlist</a></li>
            </ul>
        </li>

        <!-- Logout-->
        <li>
            <a href="auth_login.html">
                <i class="ti-power-off"></i>
                <span>Log Out</span>
            </a>
        </li>

    </ul>
</section>