
<section class="sidebar">

    <!-- sidebar menu-->
    <ul class="sidebar-menu" data-widget="tree">

        <!-- Sayfa İşlemleri -->
        <li class="header nav-small-cap">Sayfa İşlemleri</li>
        <!-- Hakkımızda -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>Hakkımızda Sayfası</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Düzenle</a></li>
            </ul>
        </li>
        <!-- İletişim -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>İletişim Sayfası</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="ContactAdd"><i class="ti-more"></i>Düzenle</a></li>
            </ul>
        </li>
        <!-- İçerik İşlemleri -->
        <li class="treeview">
            <a href="#">
                <i class="ti-write"></i>
                <span>İçerik İşlemleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="CourseAdd"><i class="ti-more"></i>İçerik Ekle</a></li>
                <li><a asp-controller="Page" asp-action="CourseList"><i class="ti-more"></i>İçerikleri Listele</a></li>
                <li><a asp-controller="Page" asp-action="CourseCategoryAdd"><i class="ti-more"></i>Kategoriler</a></li>
                <li><a asp-controller="Page" asp-action="ClassTypeAdd"><i class="ti-more"></i>Sınıflar</a></li>
            </ul>
        </li>
        

        <!-- Eğitim İşlemleri -->
        <li class="header nav-small-cap">Etkinlik Paneli</li>

        <!-- Etkinlik Oluşturucu -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>Kurs Oluşturma</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Activity" asp-action="AddActivity"><i class="ti-more"></i>Etkinlik Ekle</a></li>
                <li><a asp-controller="Activity" asp-action="ActivityList"><i class="ti-more"></i>Etkinlik Listele</a></li>
            </ul>
        </li>

        <!-- Seans Ekle / Listele -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>Seans Oluşturma</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Dersleri Listele</a></li>
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Ders Oluştur</a></li>
            </ul>
        </li>

        <!-- Çalışma Ekle / Listele -->
        <li class="treeview">
            <a href="#">
                <i class="ti-dashboard"></i>
                <span>Çalışma Oluşturma</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Dersleri Listele</a></li>
                <li><a asp-controller="Page" asp-action="AboutAdd"><i class="ti-more"></i>Ders Oluştur</a></li>
            </ul>
        </li>


        <!-- Muhasebe İşlemleri-->
        <li class="header nav-small-cap">Muhasebe İşlemleri</li>

        <li>
            <a asp-controller="Login" asp-action="Logout">
                <i class="ti-power-off"></i>
                <span>Muhasebe</span>
            </a>
        </li>


        <!-- Yetki İşlemleri-->
        <li class="header nav-small-cap">Kullanıcı İşlemleri</li>

        <li class="treeview">
            <a href="#">
                <i class="ti-user"></i>
                <span>Yetki İşlemleri</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="ti-more"></i>Kullanıcılar</a></li>
                <li><a href="#"><i class="ti-more"></i>Yetkililer</a></li>
                <li><a href="#"><i class="ti-more"></i>Yetkinlikleri Düzenle</a></li>
                <li><a href="#"><i class="ti-more"></i>Yetkinlik Ekle</a></li>
            </ul>
        </li>

        <!-- Logout-->
        <li>
            <a asp-controller="Login" asp-action="Logout">
                <i class="ti-power-off"></i>
                <span>Log Out</span>
            </a>
        </li>

    </ul>
</section>